@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}

@layer components {
  .bg-background {
    background-color: hsl(var(--background));
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.flipped .transform-style-3d {
  transform: rotateY(180deg);
}

.text-gold {
  color: #FFD700;
}

.border-gold {
  border-color: #FFD700;
}

.cards-container {
  margin-bottom: 8rem;
}

.instruction-text {
  margin-top: 8rem;
}

@keyframes slideIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.5s forwards;
  }

  .animate-fade-out {
    animation: fade-out 0.15s forwards;
  }
}

/* Hide the sliding animation on desktop */
@media (min-width: 768px) {
  .animate-slide-in {
    animation: none;
    transform: none;
  }
}

.height-auto {
  height: auto;
  transition: height 0.3s ease-out;
}